@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5edb6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: "Android", cursive;
}

  * {
    margin: 0px;
    padding: 0px;
  }

  body {
    font-family: var(--fonte-padrão);
    background-color: var(--cor0);
  }

  header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    
  }

  header h1 {
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.424);
    
  }

  header p {
    font-family: var(--fonte-padrão);
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.424);
  }

  nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor1);
    border-radius: 7px;
    padding: 10px;
    transition-duration: .5s;
  }

  nav a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
  }

  main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.332);
  }

  main h1 {
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
    color: var(--cor5);
   
  }

  main h2 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.5em;
    font-weight: normal;
    background-image: linear-gradient(to right, #3ddc84, white);
    text-indent: 8px;
 }

 main p {
    margin: 15px 0px ;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
    text-indent: 30px;
 }

 main strong {
    color: var(--cor4);
    font-weight: bold;
 }

 main a {
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    background-color: #3ddc8568;
    border-radius: 3px;
    padding:  2px 6px;
 }

 main a:hover {
    text-decoration: underline;
 }

 a.externo::after {
    content: "\00A0\1F517";
 }

 img.imagem {
   max-width: 350px;
 }
 
 img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
 }

 div.video {
    background-color: var(--cor5);
    margin: 0px -19px 30px -19px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
 }

 div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
 }

 aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.232);
 }

 aside h3 {
    background-color: var(--cor4);
    color: wheat;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
 }

 aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    padding: 10px;
    columns: 2;
 }

 aside #pop {
    background-color: #1c6b4032;
 }

 footer {
    background-color: var(--cor4);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
 }

 
 footer a {
    text-decoration: none;
    color: #36c375;
    font-weight: bold;
 }

 footer a:hover {
    text-decoration: underline;
 }